* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1560px;
    padding: 0 15px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    /* background: crimson; */
    font-family: 'Roboto', sans-serif;
    transition: all 1s ease;
}

.navbar.sticky{
    padding: 5px 0;
    background: crimson;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
}

.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li {
    list-style-type: none;
    display: inline-block;
}
.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.home {
    display: flex;
    /* background: url("../images/back_ground.jpg") no-repeat center;
    background-size: 100%; */
    background-color: black;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Roboto', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;   
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;   
}

.home .home-content .text-3 {
    font-size: 46px;
    margin: 5px 0;   
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
} 

.about {
    display: flex;
    background-color: #5b78c7;
    height: 60vh;
}